.wrapper {
  padding-top: 20px;
  display: grid;
  grid-template-rows: 1fr 52px;
  grid-template-areas: 'search' 'pagination';
}

.title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}

.results {
  grid-area: search;
}

.wrapper {
  margin-right: 20px;
}
