.main {
  flex-grow: 1;
  display: flex;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 100%;
}

.text {
  font-size: 46px;
  line-height: 66px;
  color: #4F4F4F;
}