.main {
  flex-grow: 1;
  display: flex;
}

.wrapper {
  position: relative;
  // flex-grow: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 46px;
  line-height: 66px;
  color: #4F4F4F;
}