.wrapper {
  display: flex;
  align-items: stretch;
}

.inputWrapper {
  position: relative;
}

.input {
  margin-right: 10px;
  padding: 6px 20px;
  width: 912px;
  max-width: 100%;
  background-color: #F2F2F2;
  border-radius: 4px;
  font-style: italic;
}
